.header {
  background-color: white ;
    padding: 40px 0;
  }
  
  .introduction {
    padding-right: 20px; /* Adjust spacing between introduction and picture */
  }
  
  .introduction h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .introduction p {
    font-size: 1.0em;
    color: #555;
    text-justify:inter-ideograph;
  }
  
  .profile-picture img {
    max-width: 50%;
    height: auto;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  