/* General styling for feature cards */
.feature-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  flex: 1 1 30%;
  max-width: 30%;
  min-width: 250px;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-card h3 {
  margin-top: 0;
  color: #333;
}

.feature-card p {
  margin-bottom: 0;
  color: #555;
}

/* Styling for the skills section */
.skills-header {
  margin-top: 2px;
  font-size: 2.5em;
  color: #333;
  text-align: center;
}

.skills-section {
  margin-top: 0px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* Styling for the section titles */
.section-title {
  width: 50%;
  text-align: center;
  margin: 20px 0 10px;
  font-size: 1.75em;
  color: #444;
  position: relative;
  display: inline-block;
}


/* Fade-in animation */
.skill-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.skill-section.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.inline-sections {
  display: flex;
  justify-content: center;
  gap: 50%;
}